
Code Editor Bits.obsolete_20230501_082131/CodeEditorCanvas.xojo_code
Code Editor Bits.obsolete_20230501_082131/CustomTextArea.xojo_code
Code Editor Bits.obsolete_20230501_082131/winCodeEditor.xojo_window
